
<br>
<h1>Graduate Body Fitness</h1>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<br>
			<br>
			<br>
			<p><%= image_tag(current_user.avatar.profile.url) %></p>
			<br>
			<br>
			<br>
			<ul>
				<li>Profession - <%=current_user.profession %></li>
				<li>Work Hours - <%=current_user.work_hours %></li>
				<li>Location - <%=current_user.location %></li>
				<li>School - <%=current_user.school %></li>
			</ul>

			<h4>About me</h4>
			<p><%= current_user.biography %></p>
      <br>
      <br>
			<h4>Friends</h4>
			<p>Friends</p>

    </div>

    <div class="col-md-5">
    	<div class="text-center">
	    	<p>Search</p>
	    	<h4>Daily Report</h4>
	    </div>
    </div>

    <div class="col-md-4">
    	<h4>Goals</h4>
    	<p><%= render current_user.goals %><p>
			<br>
			<br>
			<h4>Monthly Featured</h4>
			<br>
			<br>
			<h4>Links</h4>
				<%= link_to "Facebook", "https://www.facebook.com/" %>
		</div>
	
	</div>

</dvi>


