
<br>
<div class="text-center">
  <h1>Graduate Body Fitness</h1>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<br>
			<br>
			<br>
			Pic
			<br>
			<br>
			<br>
			<ul>
				<li>Profession - <%=current_user.profession %></li>
				<li>Work Hours - <%=current_user.work_hours %></li>
				<li>Location - <%=current_user.location %></li>
				<li>School - <%=current_user.school %></li>
			</ul>

			<p><u>About me</u></p>
			<p>Box with description</p>
      <br>
      <br>
			<p><u>Friends</u></p>
			<p>Friends</p>

    </div>

    <div class="col-md-4">
    	<p>Search</p>
    	<p>Daily Report</p>
    </div>

    <div class="col-md-4">
    	<p><u>Goals</u></p>
    	<p><%= render current_user.goals %><p>
			<br>
			<br>
			<p>Monthly Featured</p>
			<br>
			<br>
			<p><u>Links</u></p>
				<%= link_to "Facebook", "https://www.facebook.com/" %>
		</div>
	
	</div>

</dvi>


