<br>
<div class="text-center">
  <h1>Profile</h1>
</div>
<br>
<p><%= current_user.name %></p>
<br>
<u>Biography</u>
<br>
<p><%= current_user.biography %></p>
<br>
<p><%= current_user.profession %></p>
<br>
<u>Goals</u>
  <ul>
    <li><p><%= render current_user.goals %></p></li>
  </ul>

<%= render "goals/form" %>